/* Write your CSS here */
.list-ele {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  border-radius: 1px;
  margin-bottom: 10px;
  height: 30px;
}
.value {
  padding: 10px;
  font-family: Roboto;
  font-size: 12px;
  color: #7e858e;
  margin-left: 30px;
}
.delete-icon {
  height: 20px;
  width: 20px;
}
.delete-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0px solid;
}

@media screen and (max-width: 792px) {
  .value {
    margin-left: 10px;
    font-size: 10px;
  }
  .list-ele {
    height: 30px;
    margin-bottom: 5px;
  }
}
